.message {
  padding-bottom: 20px;
  text-align: center;

  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );

  background-clip: text;
  color: transparent;
}
